.input-group .input-group-text {
    background-color: transparent;
    color: #f99b51;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-radius: 0;
}

.input-group .form-control {
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-radius: 0;
    padding-left: 0;
    background-color: transparent;
    font-size: 12px;
}

.input-group .form-control:focus {
    font-size: 14px;
    background-color: transparent;
}